.subscribeButton{
    background: var(--yellow-500);
    border: none;
    font-weight: bold;
    color: var(--gray-900);
    height: 3.5rem;
    padding: 0 4rem;
    border-radius: 3rem;
    margin-top: 2.5rem;
    transition: filtes 0.4s;
    &:hover{
        filter: brightness(0.8);
    }
}